<div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-xs-12">
        <div class="card bg-dark-custom">
            <div class="card-header">
                <h4 class="card-title
                ">Turnos del personal</h4>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <div class="seccion">
                        <app-shiftlist></app-shiftlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>