<form [formGroup]="serviceForm" class="form">
    <div class="modal-header">
        <h4>{{service?'Editar':'Crear'}} servicio</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name" class="col-form-label-sm">Nombre*:</label>
                    <input type="text" class="form-control form-control-sm" id="name" name="name" 
                    formControlName="name" 
                    placement="bottom" 
                    [ngbTooltip]="serviceForm.get('name')?.invalid&&serviceForm.get('name')?.touched ? 'Nombre es un campo obligatorio (min. 5 caracteres)' : null"
                    [ngClass]="{'is-invalid': serviceForm.get('name')?.invalid && (serviceForm.get('name')?.dirty || serviceForm.get('name')?.touched)}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description" class="col-form-label-sm">Descripción*:</label>
                    <textarea class="form-control form-control-sm" id="description" rows="3" name="description" 
                    formControlName="description" 
                    placement="bottom" 
                    [ngbTooltip]="serviceForm.get('description')?.invalid&&serviceForm.get('description')?.touched ? 'Descripción es un campo obligatorio (min. 10 caracteres)' : null"
                    [ngClass]="{'is-invalid': serviceForm.get('description')?.invalid && (serviceForm.get('description')?.dirty || serviceForm.get('description')?.touched)}">
                    ></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="duration" class="col-form-label-sm">Duración*:</label>
                    <select class="form-control form-control-sm" id="duration" name="duration" 
                    formControlName="duration"  
                    placement="bottom" 
                    [ngbTooltip]="(serviceForm.get('duration')?.invalid&&serviceForm.get('duration')?.touched) ? 'Duración es un campo requerido': null"
                    [ngClass]="{'is-invalid': serviceForm.get('duration')?.invalid && (serviceForm.get('duration')?.dirty || serviceForm.get('duration')?.touched)}"
                    >
                    <option value="">Seleccione una duración</option>
                    @for(d of duration; track d.id){     
                        <option value="{{d.id}}">{{d.name}}</option>
                    }
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="price" class="col-form-label-sm">Precio(€)*:</label>
                    <input type="text" class="form-control form-control-sm" id="price" name="price" 
                    formControlName="price" 
                    placement="bottom" 
                    [ngbTooltip]="serviceForm.get('price')?.invalid&&serviceForm.get('price')?.touched ? 'Precio es un campo obligatorio (p.e. 1.50)' : null"
                    [ngClass]="{'is-invalid': serviceForm.get('price')?.invalid && (serviceForm.get('price')?.dirty || serviceForm.get('price')?.touched)}">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary btn-sm custom-btn" (click)="closeModal()">Cerrar</button>  
        <button type="button" class="btn btn-secondary btn-sm custom-btn" (click)="save()">Guardar</button>
    </div>
</form>




