#sidebar {
    width: 85px; 
    transition: all 0.3s; 
    margin-top: 60px;
    overflow-y: hidden;
}

#sidebar ul li{
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
}

#sidebar ul li a:hover {
    color: white !important; 
    background-color: #5c6166;
}

#sidebar ul li.active > a {
    color: white !important;
    background-color: #5c6166;
}
@media (max-width: 767.98px) {
    #sidebar {
        margin-left: -85px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
