    <ul class="navbar-nav-custom navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown" style="margin-right: 40px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <ng-content select="[notificationIcon]"/>
                <div class="number-notifications">10</div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="dropdown-item" style="display: flex; justify-content: left; align-items: center; color: green">
                    <ng-content select="[newBook]"/>
                    <a [routerLink]="['/home/notifications']" style="padding-left: 10px; text-decoration: none;">Nueva reserva <br>18/09/2024 9:30</a>
                </div>

              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <div class="dropdown-item" style="display: flex; justify-content: left; align-items: center; color: red">
                    <ng-content select="[removedBook]"/>
                    <a [routerLink]="['/home/notifications']" style="padding-left: 10px; text-decoration: none;">Reserva cancelada <br>18/09/2024 9:30</a>
                </div>
            </li>
            </ul>
        </li>
        <li class="nav-item dropdown" style="margin-right: 25px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <ng-content select="[userIcon]"/>
            </a>
            <ul class="dropdown-menu" style="margin-left: -85px;">
              <li>
                <div class="dropdown-item">
                    <ng-content select="[perfil]"/>
                    <a [routerLink]="['/home/setting']">Ajustes</a>
                </div>
            </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <div class="dropdown-item">
                    <ng-content select="[lock]"/>
                    <a  href="#">Cerrar sesión</a>
                </div>
              </li>
            </ul>
        </li>
    </ul>
