.bg-dark-custom{
    background: #282b34;
    border-color: #383b43 !important;
}
.card{
    margin-bottom: 25px;
    .form-control{
        background-color: #33363e;
        color: white;
        border-color: rgba(255,255,255,0.3) !important;
        border-radius: 0;
    }
}

.card-header{
    border-bottom: 0px;
}

textarea {
    resize: none;
}

.text-right{
    padding-top: 15px;
    text-align: right;
}

.custom-btn{
    color:white;
    font-weight: 700;
    border:0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;

}

@media (max-width: 768px) {
    .parent {
        padding-top: 75px;
        padding-left: 15px;
    }
    .column1 {
        width:100%;
    }
}