  <div class="row">
    <div class="col-md-4 offset-md-4 col-sm-12 col-xs-12">
        <div class="card bg-dark text-light border-light">
            <div class="card-header">
                <h4 class="card-title">Datos de la empresa</h4>
            </div>
            <div class="card-body">
                    <form [formGroup]="infoForm" class="form">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="name" class="col-form-label-sm">Nombre</label>
                          <input type="text" class="form-control form-control-sm" id="name" name="name" formControlName="name">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="description" class="col-form-label-sm">Descripción</label>
                          <textarea class="form-control form-control-sm" id="description" rows="3" name="description" formControlName="description"></textarea>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone" class="col-form-label-sm">Teléfono 1</label>
                            <input type="text" class="form-control form-control-sm" id="phone1" name="phone1" formControlName="phone1">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="phone2" class="col-form-label-sm">Teléfono 2</label>
                          <input type="text" class="form-control form-control-sm" id="phone2" name="phone2" formControlName="phone2">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label for="type" class="col-form-label-sm">País</label>
                        <select class="form-control form-control-sm" id="type" id="idcountry" name="idcountry" formControlName="idcountry">
                          <option>Seleccione un país</option>
                          @for(c of country; track c.id){
                            <option value="{{c.id}}">{{c.name_es}}</option>
                          }
                        </select>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label for="address" class="col-form-label-sm">Ciudad</label>
                            <input type="text" class="form-control form-control-sm" id="city" name="city" formControlName="city">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                            <label for="address" class="col-form-label-sm">Dirección</label>
                            <input type="text" class="form-control form-control-sm" id="address" name="address" formControlName="address">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <label for="email" class="col-form-label-sm">Email</label>
                        <input type="text" class="form-control form-control-sm" id="email" name="email" formControlName="email">
                      </div>
                      <div class="col-md-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary btn-sm green-btn" (click)="saveInfoShop()" [disabled]="saving">Guardar</button>
                        </div>
                      </div>
                      <span class="error">{{error}}</span>
                    </div>
                  </form>
            </div>
        </div>
    </div>

</div>
