/* You can add global styles to this file, and also import other style files */


html, body{
    background: #030712;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.full-height{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #030712;
}