/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as *;

html, body{
    background: #030712;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.full-height{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #030712;
}

.modal-header {
  padding: 15px 20px;
  border-bottom: none; /* Sin línea, como en tu ejemplo */
  background-color: #282b34;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
  border-top: 1px solid #383b43;
  border-left: 1px solid #383b43;
  border-right: 1px solid #383b43;
}

.modal-body {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #282b34;
  color: white;
  border-left: 1px solid #383b43;
  border-right: 1px solid #383b43;
    .form-control{
        background-color: #33363e;
        color: white;
        border-color: rgba(255,255,255,0.3) !important;
        border-radius: 0;
    }
}

.modal-footer {
  padding: 15px 20px;
  border-top: none; /* Sin línea divisoria */
  background-color: #282b34;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  border-bottom: 1px solid #383b43 ;
  border-left: 1px solid #383b43;
  border-right: 1px solid #383b43;
}

.btn-close {
  filter: invert(70%) grayscale(100%); /* lo convierte a gris */
  opacity: 1; /* para que no se vea apagado */
}

.btn-close:hover {
  filter: invert(90%) grayscale(100%);
}

