            <div class="navbar-nav bg-dark">
                <a class="nav-link main-item" [routerLink]="['/home/info']" (click)="closeCollapseNavbar()">Tienda</a>
                <a class="nav-link main-item" [routerLink]="['/home/activity']" (click)="closeCollapseNavbar()">Actividad</a>
                <a class="nav-link main-item" [routerLink]="['/home/shift']" (click)="closeCollapseNavbar()">Turnos</a>
                <a class="nav-link main-item" [routerLink]="['/home/staff']" (click)="closeCollapseNavbar()">Personal</a>
                <a class="nav-link main-item" [routerLink]="['/home/booking']" href="#"
                    (click)="closeCollapseNavbar()">Reservas</a>
                <a class="nav-link main-item d-flex align-items-center" [routerLink]="['/home/notifications']" href="#"
                    (click)="closeCollapseNavbar()">
                    Notificaciones
                    <span class="badge text-bg-danger rounded-pill ms-2">10</span>
                </a>

                <a class="nav-link main-item" [routerLink]="['/home/setting']" href="#"
                    (click)="closeCollapseNavbar()">Ajustes</a>
                <a class="nav-link main-item" [routerLink]="['/home/booking']" href="#"
                    (click)="closeCollapseNavbar()">Cerrar sesión</a>
            </div>