<div class="row father">
    <div class="col-10 offset-1">
        <div class="card bg-dark-custom">
            <div class="card-header">
                <h4 class="card-title
                ">Servicios de la empresa</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="seccion">
                            <activitylist></activitylist>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="seccion">
                            <servicelist></servicelist>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>